# Project dependencies
.cache
node_modules
yarn-error.log
.env
credentials.json

# Build directory
site

# Compiled styles
assets/styles

# Local Netlify folder
.netlify
# Eleventy Edge Build Data files
netlify/edge-functions/_generated

# Caches
.stylelintcache

.DS_Store

.vscode
