:root {
  /*
    Colours from Flat UI Aussie Paletter by Kate Hoolahan
    https://flatuicolors.com/palette/au
  */
  --beekeeper:        rgba(246, 229, 141, 1);
  --turbo:            rgba(249, 202,  36, 1);
  --spiced_nectarine: rgba(255, 190, 118, 1);
  --quince_jelly:     rgba(240, 147,  43, 1);
  --pink_glamour:     rgba(255, 121, 121, 1);
  --carmine_pink:     rgba(235,  77,  75, 1);
  --june_bud:         rgba(186, 220,  88, 1);
  --pure_apple:       rgba(106, 176,  76, 1);
  --middle_blue:      rgba(126, 214, 223, 1);
  --greenland_green:  rgba(34,  166, 179, 1);
  --heliotrope:       rgba(224,  86, 253, 1);
  --steel_pink:       rgba(190,  46, 221, 1);
  --exodus_fruit:     rgba(104, 109, 224, 1);
  --blurple:          rgba( 72,  52, 212, 1);
  --deep_koamaru:     rgba( 48,  51, 107, 1);
  --deep_cove:        rgba( 19,  15,  64, 1);
  --coastal_breeze:   rgba(223, 249, 251, 1);
  --hint_of_ice_pack: rgba(199, 236, 238, 1);
  --soaring_eagle:    rgba(149, 175, 192, 1);
  --wizard_grey:      rgba( 83,  92, 104, 1);

  --black: rgba(1, 2, 1, 1);
  --brilliantwhite: rgba(255, 255, 255, 1);
  --white: rgba(245, 246, 250, 1);

  --text-colour: var(--black);
  --text-colour--inverse: var(--brilliantwhite);
  --key-colour: var(--wizard_grey);

  --border-radius: 0.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: "reduce") {
  html {
   scroll-behavior: auto;
  }
}

body {
  text-rendering: optimizeSpeed;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  line-height: 1;
  min-height: 100%;
  padding: 0;
}

body {
  background: var(--white);
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cf:after {
  clear: both;
  content: "";
  display: block;
}

a:link {
  text-decoration-skip-ink: auto;
}

.responsive-image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.responsive-image--portrait {
  width: auto;
}

.responsive-image--landscape {
  height: auto;
}

.sideways-list {
  color:var(--secondary-colour);
}

.sideways-list__item::after,
.sideways-list__item::before {
  vertical-align: middle;
}

.sideways-list__item::before {
  content: "\2981";
}

@media screen and (min-width: 300px) {
  .sideways-list__item {
    display: inline-block;
  }

  .sideways-list__item:first-child::before {
    content: none;
  }
}

@media screen and (min-width: 370px) {
  .sideways-list__item:first-child::before,
  .sideways-list__item:last-child::after {
    content: "\2981";
  }
}

.sideways-list__link {
  border-radius: var(--border-radius);
  color: var(--black);
  display: inline-block;
  line-height: 1;
  font-size: 0.85em;
  margin: 0 -0.35em;
  padding: 0.6em 0.5em 0.7em 0.5em;
  position: relative;
  text-decoration-color: var(--key-colour);
  text-decoration-thickness: 0.1em;
  text-transform: lowercase;
}

.sideways-list__link:hover {
  color: var(--key-colour);
}

.sideways-list__link:focus-visible {
  background: var(--key-colour);
  color: var(--text-colour--inverse);
  outline: 0.25em solid transparent;
}

.sideways-list__link:focus-visible:hover:not(:active) {
  text-decoration-color: var(--text-colour--inverse);
}

.sideways-list__link:active {
  background: none;
  color: var(--text-colour);
  text-decoration: underline;
  text-decoration-color: var(--text-colour);
  text-decoration-thickness: 0.1em;
}

@media screen and (min-width: 400px) {
  .sideways-list__link {
    line-height: 1.1;
  }
}
