<link rel="stylesheet" href="/assets/stylesheets/_footer.css">
<footer class="ftr" id="footer">
  <section class="ftr-section">
    <h2 class="visually-hidden">{{ 'copyright_heading' | i18n }}</h2>
    <p class="copyright-notice">
      {{- 'copyright' | i18n | safe -}}
    </p>
  </section>
</footer>
