.hdr {
  margin: auto;
  max-width: 120rem;
  padding: 0 1.25rem;
}

.hdr__logo {
  border-radius: var(--border-radius);
  color: var(--text-colour);
  display: inline-block;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0.25em -0.25em;
  padding: 0.25em;
  text-decoration: none;
  text-transform: lowercase;
}

.hdr__logo:hover {
  text-decoration: underline;
  text-decoration-color: var(--key-colour);
  text-decoration-thickness: 0.1em;
}

.hdr__logo:focus-visible {
  background: var(--key-colour);
  color: var(--text-colour--inverse);
  outline: 0.25em solid transparent;
}

.hdr__logo:focus-visible:hover:not(:active) {
  text-decoration-color: var(--text-colour--inverse);
}

.hdr__logo:active {
  background: none;
  color: var(--key-colour);
  text-decoration: underline;
  text-decoration-color: var(--key-colour);
  text-decoration-thickness: 0.1em;
}

@media screen and (min-width: 800px) {
  .hdr__logo {
    font-size: 1.5em;
  }
}

.nvgtn {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.25em 0;
}
