{% from "components/_sideways-list.njk" import sideways_list with context %}

<link rel="stylesheet" href="/assets/stylesheets/_header.css">
<header class="hdr">
  {{ 'site_name' | i18n | link_to('/homepage/') | add_class('hdr__logo') }}
  <nav class="nvgtn">
    <h2 id="main-navigation" class="visually-hidden">{{ 'main_navigation' | i18n }}</h2>
    {{
      sideways_list({
        labelledby: "main-navigation",
        items: [
          {
            text: "photos",
            link: "/photos/"
          },
          {
            text: "about",
            link: "/about/"
          },
          {
            text: "contact",
            link: "/contact/"
          }
        ]
      })
    }}
  </nav>
</header>
