{% if alternatives | length !== 0 %}
  <link rel="stylesheet" href="/assets/stylesheets/_language-switcher.css">
  <div class="language-switcher">
      <h2 class="language-switcher__heading">{{ 'read_this_page_in_different_language' | i18n }}</h2>
      <ul class="sideways-list">
        {% for alternative in alternatives %}
          <li class="sideways-list__item">
            <a rel="alternate"
              class="sideways-list__link"
              href="{{ site.baseURL }}{{ alternative.url }}"
              hreflang="{{ alternative.language }}"
              lang="{{ alternative.language }}">
              {{ alternative.languageName }}
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>
{% endif %}
