.language-switcher {
  background: var(--brilliantwhite);
  margin: 0 0 1em 0;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  max-width: 52em;
}

@media screen and (min-width: 600px) {
  .language-switcher {
    border-radius: var(--border-radius);
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 1280px) {
  .language-switcher {
    margin-left: auto;
    margin-right: auto;
  }
}

.language-switcher__heading {
  font-size: 0.85em;
  display: inline-block;
  padding-bottom: 0.5em;
}
